.category-page-container {
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.filters {
    flex: 0 0 250px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.filters input[type="text"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filters label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.filters input[type="number"] {
    width: 100%;
    margin-top: 0.5rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider-track {
    background: #ddd;
    height: 5px;
    margin: 2rem 0;
    position: relative;
}

.slider-thumb {
    background: #007bff;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
}

.filters .slider-value {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.filters .checkbox-filters h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.filters .checkbox-filters label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-align: left;
}

.filters .checkbox-filters label input {
    margin-right: 0.5rem;
}



.products-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}


.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain; 
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


.product-card h3 {
    font-size: 1rem;
    color: #333;
    margin: 10px 0 5px;
    padding: 0 5px;
    font-weight: bold;
    text-decoration: none;
}


.product-card p {
    font-size: 1rem;
    color: black;
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
}

.product-card button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px auto;
    width: calc(100% - 20px);
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #e68a00;
}


/* Reszponzív mobilos nézet */
@media (max-width: 768px) {
    .category-page-container {
        flex-direction: column;
    }

    .filters {
        flex: 1;
        position: relative;
        width: 100%;
        border: 1px solid #ddd;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
